@mixin zero {
	margin: 0;
	padding: 0;
}

.header {
	> h1 {
		@include zero();
		margin-top: 2rem;
	}
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	> svg {
		width: 60%;
	}
}

.articles {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto;
	flex-flow: column;
	flex-wrap: wrap;
}

.single-article {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2rem 0rem;
}

.article-image {
	width: 100%;
	height: 230px;
	> img {
		width: 100%;
		height: 100%;
	}
}

.article-content {
	background-color: #baa8ff;
	margin: 0 1rem;
	border: solid;
	border-image-slice: 1;
	border-width: 3px;
	border-image-source: linear-gradient(to right, #07b8f9, #fa00ff);
	padding: 1rem 2rem;
	max-height: 500px;
	> p {
		margin-bottom: 1rem;
		color: black;
	}
	> .visit-article-btn {
		padding: 0.5rem 1rem;
		font-size: 1.1rem;
		border: none;
		outline: none;
		background: linear-gradient(to right, #fa00ff, #b312ff);
	}
}
.page .article-title {
	margin: 0;
	margin-bottom: 1rem;
	color: black;
	background: transparent;
	-webkit-text-fill-color: black;
}

@media screen and (max-width: 800px) {
	.articles {
		margin: auto;
		width: 80%;
	}
	.single-article {
		width: 100%;
		flex-flow: column;
	}
	.article-content {
		width: 100%;
	}
	.article-content {
		padding: 0;
		> h1 {
			margin-left: 0.5rem;
		}
		> p {
			margin-left: 0.5rem;
		}
		.visit-article-btn {
			margin-left: 0.5rem;
			margin-bottom: 0.5rem;
		}
	}
}
