* {
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
  }
  
  html, body, section, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: #fff;
    background: #0B0036;
    overflow-x: hidden;

  }
  .page {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}
  .page::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
  .DisplayName{
      display: flex;
      flex-direction: column;
  }
  
  section {
    width:500%;  
  }
  
  .page {
    position: absolute;
  }
  
  #p1 {
    left: 15rem;
    top:5rem;
    background: #0B0036;
    height: 80%;
    width: auto;
  }
  
  #p2 {
    left: 100%;
    background: #0B0036;
    text-align: center;
  }
  
  #p3 {
    left: 200%;
    background: #593C1F;
  }
  
  #p4 {
    left: 300%;
    background: deeppink;
  }

  #p5 {
    left: 400%;
    background: rgb(12, 64, 124);
  }
  
  ul {
   position: fixed; 
   z-index: 1;
  }
  #t1:target .page#p1 {
      transform: translateX(0);
  }
  #t2:target .page#p2 {
      transform: translateX(-90%);
  }
  #t3:target .page#p3 {
      transform: translateX(-190%);
  }
  #t4:target .page#p4 {
      transform: translateX(-290%);
  }
  #t5:target .page#p5 {
      transform: translateX(-390%);
  }
  
  #t2:target .page#p1, 
  #t3:target .page#p1,
  #t4:target .page#p1, 
  #t5:target .page#p1 {
    background: black;
  }
  
  #t2:target .page#p1 .icon, 
  #t3:target .page#p1 .icon,
  #t4:target .page#p1 .icon,
  #t5:target .page#p1 .icon {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  
  .icon {
    color: #fff;
    font-size: 32px;
    display: block;
  }
  
  ul .icon:hover {
    opacity: 0.6;
  }
  
  #p1 .icon .title {
    margin-bottom: 20px;
  }
  
  #t2:target ul .icon,
  #t3:target ul .icon,
  #t4:target ul .icon, 
  #t5:target ul .icon {
    transform: scale(.6); 
    transition-delay: .25s;
  }
  
  #t2:target #dos {
    transform: scale(1.2) !important;
  }
  
  #t3:target #tres {
    transform: scale(1.2) !important;
  }
  
  #t4:target #cuatro {
    transform: scale(1.2) !important;
  }
  #t5:target #pent {
    transform: scale(1.2) !important;
  }
  
  ul {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*right: 0;*/
    margin: auto;
    height: 20rem;
    width: 10%;
    padding: 0;
    text-align: center;
   }
  
  ul li {
    margin: 30px 0;
  }
  
  a {
    text-decoration: none;
    font-family: open sans, sans-serif;
  }
  
  .title, .hint {
    font-family: open sans, sans-serif;
    display: block;
  }
  
  .title {
    font-size: 38px;
  }
  
  .hint {
    font-size: 13px;
  }
  
  .hint a {
    color: #EFFF06;
    transition: all 250ms easet-out;
  }
  
  .hint a:hover {
    color: #FFF;
  }
  
  .page .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 0;
    width: 270px;
    height: 170px;
    margin: auto;
    text-align: center;
    font-size: 80px;
    transform: translateX(360%);
    line-height: 1.3;
  }
  
  .page#p1 .icon {
    height: 220px;
  }
  
  .page#p1 .icon {
    transform: translateX(0) !important;
  }
  
  #t2:target .page#p2 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
  }
  
  #t3:target .page#p3 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
  }
  
  #t4:target .page#p4 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
  }
  #t5:target .page#p5 .icon {
    transform: translateX(0) !important;
    transition-delay: 1s;
  }
  
  .credit{
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-size: 10px;
  }
  
  .credit a {
      color: #fff
  }
  
  
  /* Home */
img{
    width:20rem;
    height: 20rem;
}

.intro-header{
  padding: 1rem;
}

.Homeflex{
    display: flex;
    word-spacing: 5px;
}
.page h1{
    Font-family: Montserrat;
    Font-style: Bold;
    Font-size: 40px;
    background: linear-gradient(90.65deg, #B312FF 3.02%, #665AFF 30.47%, #00B9FF 98.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.page p{
    word-spacing: 5px;
}


/* schedule */
fieldset{
  width:40%;
  height: 45%;
  background: linear-gradient(180deg, #9337FF 0%, #181671 100%);
  margin: 1rem;
  border:0.3rem solid;
  border-color: #07B8F9; 
  border-radius: 0.3rem;
}
.fieldset{
  display: flex;
  
}
fieldset div.divide2{
  display: flex;
}
fieldset p{
word-spacing: 5px;
color:white;
  }
 
fieldset img{
  width:90%;
  height:90%;
  color: #00B9FF;
}
legend{
  background: linear-gradient(90deg, #B312FF 0%, #FA00FF 100%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color:black; 
  font-weight: bold;
  margin-left: 2rem;
}
fieldset .event,.eventimg{
  flex:1;
  padding: 1rem;
}
.download{
  background: linear-gradient(90deg, #B312FF 0%, #FA00FF 100%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color:black; 
}
h2{
  color: black;
  font-size: 2.5rem;
  
}
h3{
  background: linear-gradient(97.21deg, #B312FF 0%, #07B8F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;


}
hr{
  width:25%;
}
