.header-section {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	> h1 {
		margin: 0;
		margin-top: 2rem;
		font-style: bold;
	}
	> svg {
		width: 90%;
	}
}

.posts-section {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.posts-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 75%;
}
.card {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	max-width: 300px;
	max-height: 500px;
	border: 2px solid whitesmoke;
	padding: 1rem;
	margin: 2rem 0;
}

.card-image img {
	width: 100%;
}

@media only screen and (max-width: 800px) {
	.posts-cards {
		width: 100%;
		justify-content: space-evenly;
	}
}
