@mixin zero {
	margin: 0;
	padding: 0;
}
.header {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	> svg {
		width: 90%;
	}
}
.options-section {
	> * {
		@include zero();
	}
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 2rem;
	padding: 0 2rem;
}
.details-card,
.social-card {
	width: 25%;
	height: 200px;
	padding: 1rem;
	> * {
		@include zero();
	}
	> .title {
		font-size: 2rem;
		> p {
			@include zero();
		}
	}
}
.option-icon {
	margin-right: 0.5rem;
	background: -webkit-linear-gradient(180deg, #23dfe6 0%, #09bbf8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.description {
	> p {
		@include zero();
		padding: 0.25rem 0;
	}
}

@media only screen and (min-width: 950px) {
	#p5 {
		height: 100vh;
	}
}
@media only screen and (max-width: 950px) {
	.options-section {
		max-width: 100%;
	}
	.details-card,
	.social-card {
		width: 40%;
	}
}
@media only screen and (max-width: 670px) {
	.details-card,
	.social-card {
		width: 40%;
	}
}
@media only screen and (max-width: 450px) {
	.details-card,
	.social-card {
		width: 80%;
	}
}
