* {
	box-sizing: border-box;
	transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

html,
body,
section,
.page {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
	-webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
	color: #fff;
	background: #0b0036;
	overflow-x: hidden;
}
.DisplayName {
	display: flex;
	flex-direction: column;
}

section {
	width: 500%;
}

.page {
	position: absolute;
}

#p1 {
	left: 15rem;
	top: 5rem;
	background: #0b0036;
	height: 90%;
	width: auto;
}
html,
body,
section,
.page {
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.html::-webkit-scrollbar,
body::-webkit-scrollbar,
section::-webkit-scrollbar,
.page::-webkit-scrollbar {
	width: 0;
	height: 0;
}

#p2 {
	left: 100%;
	background: #0b0036;
}

#p3 {
	left: 200%;
	background: #0b0036;
}

#p4 {
	left: 300%;
	background: #0b0036;
}

#p5 {
	left: 400%;
	background: #0b0036;
}

ul {
	position: fixed;
	z-index: 1;
}
#t1:target .page#p1 {
	transform: translateX(0);
}
#t2:target .page#p2 {
	transform: translateX(-90%);
}
#t3:target .page#p3 {
	transform: translateX(-190%);
}
#t4:target .page#p4 {
	transform: translateX(-290%);
}
#t5:target .page#p5 {
	transform: translateX(-390%);
}

#t2:target .page#p1,
#t3:target .page#p1,
#t4:target .page#p1,
#t5:target .page#p1 {
	background: #0b0036;
}

#t2:target .page#p1 .icon,
#t3:target .page#p1 .icon,
#t4:target .page#p1 .icon,
#t5:target .page#p1 .icon {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.icon {
	color: #fff;
	font-size: 32px;
	display: block;
}

ul .icon:hover {
	opacity: 0.6;
}

#p1 .icon .title {
	margin-bottom: 20px;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon {
	transform: scale(0.6);
	transition-delay: 0.25s;
}

#t2:target #dos {
	transform: scale(1.2) !important;
}

#t3:target #tres {
	transform: scale(1.2) !important;
}

#t4:target #cuatro {
	transform: scale(1.2) !important;
}
#t5:target #pent {
	transform: scale(1.2) !important;
}

ul {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 20rem;
	width: 10%;
	padding: 0;
	text-align: center;
}

ul li {
	margin: 30px 0;
}

a {
	text-decoration: none;
	font-family: open sans, sans-serif;
}

.title,
.hint {
	font-family: open sans, sans-serif;
	display: block;
}

.title {
	font-size: 38px;
}

.hint {
	font-size: 13px;
}

.hint a {
	color: #efff06;
	transition: all 250ms easet-out;
}

.hint a:hover {
	color: #fff;
}

.page .icon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10%;
	left: 0;
	width: 270px;
	height: 170px;
	margin: auto;
	text-align: center;
	font-size: 80px;
	transform: translateX(360%);
	line-height: 1.3;
}

.page#p1 .icon {
	height: 220px;
}

.page#p1 .icon {
	transform: translateX(0) !important;
}

#t2:target .page#p2 .icon {
	transform: translateX(0) !important;
	transition-delay: 1s;
}

#t3:target .page#p3 .icon {
	transform: translateX(0) !important;
	transition-delay: 1s;
}

#t4:target .page#p4 .icon {
	transform: translateX(0) !important;
	transition-delay: 1s;
}
#t5:target .page#p5 .icon {
	transform: translateX(0) !important;
	transition-delay: 1s;
}

.credit {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 10px;
}

.credit a {
	color: #fff;
}

/* Home */
img {
	width: 20rem;
	height: 20rem;
}

.intro-header {
	padding-right: 4rem;
}

.Homeflex {
	display: flex;
	word-spacing: 5px;
	padding-right: 4rem;
}
.page h1 {
	font-family: Montserrat;
	font-style: Bold;
	font-size: 40px;
	background: linear-gradient(
		90.65deg,
		#b312ff 3.02%,
		#665aff 30.47%,
		#00b9ff 98.85%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.page p {
	word-spacing: 5px;
}

/* schedule */

.header {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.header svg {
	width: 60%;
}
.page-title {
	background: linear-gradient(97.21deg, #b312ff 0%, #07b8f9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2.5rem;
	margin: 0;
	margin-top: 2rem;
	padding: 0;
}
.schedule-section {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
fieldset {
	width: 100%;
	height: 45%;
	background: linear-gradient(180deg, #9337ff 0%, #181671 100%);
	border: 0.3rem solid;
	border-color: #07b8f9;
	border-radius: 0.3rem;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}
.fieldset {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	width: 70%;
	margin: 2rem auto;
}
.divide2 {
	display: flex;
	flex-flow: column;
	width: 50%;
	justify-content: space-between;
}
.divide2 h2,
.divide2 p {
	margin: 0;
	padding: 0;
}
.divide2 p {
	margin: 0.5rem 0;
}
.event-img {
	width: 50%;
}
.divide2,
.event-img {
	padding: 0.5rem;
}
fieldset p {
	word-spacing: 5px;
	color: white;
}

.event-img img {
	width: 100%;
	color: #00b9ff;
}
legend {
	background: linear-gradient(90deg, #b312ff 0%, #fa00ff 100%);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	color: black;
	font-weight: bold;
	margin-left: 2rem;
}
.download {
	background: linear-gradient(90deg, #b312ff 0%, #fa00ff 100%);
	border-radius: 0.5rem;
	color: black;
	border: none;
	outline: none;
	font-size: 1.2rem;
	width: fit-content;
	padding: 0.5rem 0.25rem;
}
h2 {
	color: black;
	font-size: 2.5rem;
}

@media only screen and (max-width: 800px) {
	ul {
		height: 4rem;
		width: 25%;
		bottom: 52%;
		background-color: #060218;
	}
	ul li {
		margin: 15px;
	}
	#t1:target .page#p1 {
		transform: translateX(0);
	}
	#t2:target .page#p2 {
		transform: translateX(-100%);
	}
	#t3:target .page#p3 {
		transform: translateX(-200%);
	}
	#t4:target .page#p4 {
		transform: translateX(-300%);
	}
	#t5:target .page#p5 {
		transform: translateX(-400%);
	}
	.DisplayName {
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	#p1 {
		left: 2rem;
		top: 0rem;
	}
	#p2,
	#p3,
	#p4,
	#p5 {
		height: 90%;
	}
	.fieldset {
		width: 80%;
	}
	fieldset {
		flex-flow: column;
	}
	.divide2,
	.event-img {
		width: 90%;
		margin: auto;
	}
}

@media only screen and (max-width: 500px) {
	.icon {
		font-size: 25px;
	}
	.Homeflex {
		flex-wrap: wrap-reverse;
	}
}
